body{
    background-image: url(mmm.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: xx-large;
}
h1{
    height: 100px;
    padding-top: 200px;
}
img.bu{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}
.vov{
    height: 20px;
}
.main{
    background-image: url(серый.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}