<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Профиль</h1>

  <div id="userData"></div>

  <script>
    const userData = localStorage.getItem('userData');
    const userDataObj = JSON.parse(userData);

    const userDataDiv = document.getElementById('userData');
    userDataDiv.innerHTML = `
      <p><strong>Фамилия пользователя:</strong> ${userDataObj.surname}</p>
      <p><strong>Имя пользователя:</strong> ${userDataObj.username}</p>
      <p><strong>Логин:</strong> ${userDataObj.login}</p>
      <p><strong>Email:</strong> ${userDataObj.email}</p>
      <p><strong>Пароль:</strong> ${userDataObj.password}</p>
    `;
  </script>
</body>
</html>