<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Вход</title>
<link rel="stylesheet" href="/static/css/bob.css" type="text/css">
<link rel="stylesheet" href="/static/css/style.css" type="text/css">

</head>
<body class="bodyy">
    <div id="modal" class="modal">
    <div class="modal-content">
        <div class="blocklogin">
            
            <h2>Регистрация</h2>
            <form action="Mainpage" id="enter-form">
            <label for="login">Введите логин:</label>
            <input type="login" id="login" name="login" required>
            <label for="email">Введите email:</label>
            <input type="email" id="email" name="email" required>
            <label for="password">Введите пароль:</label>
            <input type="password" id="password" name="password" required>
                <button type="submit">Войти</button>
            <p>Нет аккаунта? <a href="login">Создайте его.</a></p>
            </form>
        </div>
    </div>

<script src="/static/js/enter.js"></script>
</body>
</html>